<div class="relative">
  <div class="text-center">
    <button class="bg-cyan-400 p-3 cursor-pointer rounded" [disabled]="viewModal" (click)="onView()">+Add Product</button>
  </div>
  <div class="absolute top-52 left-96 w-2xl h-80 bg-amber-600 text-center p-5" [ngClass]="viewModal ? 'block' : 'hidden'">
    <form (ngSubmit)="onSubmit()" #productForm="ngForm" >
        <div class="mb-2">
            <input type="text" placeholder="category" class="bg-amber-50" required name="category" [(ngModel)]="newProduct.category">
        </div>
        <div class="mb-2">
            <input type="text" placeholder="description" class="bg-amber-50" required name="description" [(ngModel)]="newProduct.description">
        </div>
       <div class="mb-2">
         <input type="text" placeholder="img url" class="bg-amber-50" required name="img" [(ngModel)]="newProduct.img">
       </div>
       <div class="mb-2">
         <input type="number" placeholder="price" class="bg-amber-50" required name="price" [(ngModel)]="newProduct.price">
       </div>
        <div class="mb-2">
            <input type="text" placeholder="title" class="bg-amber-50" required name="title" [(ngModel)]="newProduct.title">
        </div>

        <button class="bg-amber-50 p-3 cursor-pointer">Add</button>
    </form>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <div *ngFor="let product of products" class="p-4 rounded shadow-2xl">
      <img [src]="product.image" class="w-full h-40 object-contain" />
      <h3 class="text-lg font-bold mt-2">{{ product.title }}</h3>
      <p class="text-sm">{{ product.description }}</p>
      <p class="font-semibold">Category: {{ product.category }}</p>
      <p class="text-green-600 font-semibold">${{ product.price }}</p>
      <p>Rating: {{product.rating.rate}}</p>
      <p>Count: {{product.rating.count}}</p>
    </div>
  </div>
</div>
