<div class="fixed inset-0 flex items-center justify-center">
  <div class="w-[95%] sm:w-[80%] md:w-[600px] rounded-lg shadow-lg p-6">
    <form (ngSubmit)="onSubmit()" #productForm="ngForm" class="space-y-4 flex flex-col gap-5">
      <p-floatlabel>
        <input
          pInputText
          id="category"
          name="category"
          [(ngModel)]="newProduct.category"
          required
          class="bg-amber-50 w-full px-4 py-2 rounded outline-none"
        />
        <label for="category" class="text-black">Product Category</label>
      </p-floatlabel>

      <p-floatlabel>
        <input
          pInputText
          id="description"
          name="description"
          [(ngModel)]="newProduct.description"
          required
          class="bg-amber-50 w-full px-4 py-2 rounded outline-none"
        />
        <label for="description" class="text-black">Description</label>
      </p-floatlabel>

      <p-floatlabel>
        <input
          pInputText
          id="img"
          name="img"
          [(ngModel)]="newProduct.img"
          required
          class="bg-amber-50 w-full px-4 py-2 rounded outline-none"
        />
        <label for="img" class="text-black">Image URL</label>
      </p-floatlabel>

      <p-floatlabel>
        <p-inputnumber
          inputId="price"
          name="price"
          [(ngModel)]="newProduct.price"
          mode="decimal"
          class="w-full"
          [minFractionDigits]="0"
          [maxFractionDigits]="2"
          [ngModelOptions]="{ standalone: true }"
        />
        <label for="price" class="text-black">Price</label>
      </p-floatlabel>

      <p-floatlabel>
        <input
          pInputText
          id="title"
          name="title"
          [(ngModel)]="newProduct.title"
          required
          class="bg-amber-50 w-full px-4 py-2 rounded outline-none"
        />
        <label for="title" class="text-black">Title</label>
      </p-floatlabel>

      <button
        redirectTo="/"
        class="w-full bg-slate-700 hover:bg-slate-800 text-white font-semibold py-2 rounded transition cursor-pointer"
      >
        Add
      </button>
    </form>
  </div>
</div>
